.container {
  /* box model */
  background-color: lightgrey;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px black;

  /* grid layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
    "header header"
    "aboutme img-aboutme"
    "inspiration inspiration"
    "hobbies hobbies"
    "goals goals"
    "aside aside"
    "footer footer";
  gap: 20px;
}

.header {
  /* box model */
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);

  /* grid */
  grid-area: header;

  /* Font */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.aboutme {
  /* grid */
  grid-area: aboutme;

  /* box model */
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);
}
.img-aboutme {
  grid-area: img-aboutme;
}

.inspiration {
  grid-area: inspiration;

  /* box model */
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);
}
.hobbies {
  grid-area: hobbies;
  /* box model */
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);
}
.goals {
  grid-area: goals;

  /* box model */
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);
}
.aside {
  grid-area: aside;

  /* box model */
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);
}
.footer {
  grid-area: footer;

  /* box model */
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(96, 96, 96);
}
